.figure3 {
    position: absolute;
    left: 331px;
    bottom: -236px;

    width: 689px;
    height: 970px;

    display: none;

    z-index: 10;
}

.figure1 {
    position: absolute;
    display: none;
    z-index: 10;

    width: 228px;
    height: 321px;

    left:568px;
    top:44px;

}

.figure2 {
    position: absolute;
    z-index: 10;
    display: none;

    left: 449px;
    bottom: -83px;

    width: 461px;
    height: 642px;
}